/* Background */
body {
    background-image: linear-gradient(
      to left,  
      #656291,
      #47589e,   
      #0b0b2f
    );
    --mask: radial-gradient(
          11.18vw at 50% calc(100% - 15vw),
          #000 99%,
          #0000 101%
        )
        calc(50% - 10vw) 0/20vw 100%,
      radial-gradient(11.18vw at 50% calc(100% + 10vw), #0000 99%, #000 101%) 50%
        calc(100% - 5vw) / 20vw 100% repeat-x;
    color: white;
    font-family: "Lato", sans-serif;
  }

/* Star Animation in Nav Bar */
.star {
    position: absolute;
    top: -20px;
    color: #fff;
    animation: animate 5s linear forwards;
    z-index: -1;
  }
  .star::before {
    content: '\f005';
    font-family: fontAwesome;
    text-shadow: 0 0 5px #fff,
    0 0 20px #fff,
    0 0 50px #fff;
  }
  
  @keyframes animate {
    0%
    {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    80%
    {
      opacity: 1;
    }
    100%
    {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
    }
  }
  
  /* Side Navigation Bar */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #040c18;
    overflow-x: hidden;
    padding-top: 20px;
  
    overflow: hidden;
  }
  
  .navlinks {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .yt-home {
    margin-top: auto;
    margin-left: 20px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 5px #000,
    0 0 20px #000,
    0 0 50px #000;
  }
  
  hr {
    height: 5px;
    background-color: white;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }